/Data/Bacpacs/deepac_on_bacpacsTest/nonpatho_bacpacs_test2_withp.fasta
/Data/Bacpacs/deepac_on_bacpacsTest/nonpatho_bacpacs_test2_withp_s.fasta
/Data/Bacpacs/deepac_on_bacpacsTest/patho_bacpacs_test1_withp.fasta
/Data/Bacpacs/deepac_on_bacpacsTest/patho_bacpacs_test1_withp_s.fasta
/Data/Bacpacs/deepac_on_bacpacsTest/patho_bacpacs_test2_withp.fasta
/Data/Bacpacs/deepac_on_bacpacsTest/patho_bacpacs_test2_withp_s.fasta
/Data/Bacpacs/deepac_on_bacpacsTest/nonpatho_bacpacs_test1_withp.fasta
/Data/Bacpacs/deepac_on_bacpacsTest/nonpatho_bacpacs_test1_withp_s.fasta
/src/wspc.egg-info/
